![This is an image](Quant-Trading.jpg)

<font size="3">
Please visit our website <a href="https://www.quant-trading.co" target="_blank">quant-trading.co</a> for more tools on quantitative finance and data science.
</font>

In [1]:
# !pip install pandas-datareader

## **¿How to download data from FRED?**


<font size="3"> The Federal Reserve Bank of St Louis, also known as FRED, has one of the most comprehensive databases on financial time series. In this notebook you can find an example on how to get this data. FRED has an API that you can use to download the data using only python code. The pandas_datareader library is very useful for that purpose. <br><br>

<font size="3">
The pandas_datareader library allows you to fetch data from different sources, including Yahoo Finance for financial market data, World Bank for global development data, and St. Louis Fed for economic data. In this notebook, we’ll show how you can load data from FRED. Behind the scene, pandas_datareader pulls the data you want from the web in real time and assembles it into a pandas DataFrame. Because of the vastly different structure of web pages, each data source needs a different reader. Hence, pandas_datareader only supports reading from a limited number of sources, mostly related to financial and economic time series. Below you can find an example on how this works.

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas_datareader.data as web  #Pandas Datareader
import datetime

In [3]:
#ASSET
series_id  = 'DEXUSEU'

## **Get an specific ticker**

<font size="3"> Economic variables or financial data have an specific identification code in the FRED database. For example the EURUSD exchange rate is DEXUSEU. This codes contain different time series. In the FRED API there are tickers for economic indicators, but also for exchange rates, interest rates, etc. You can easily find them searching on the web.
<br><br>

In [4]:
EURUSD =  web.DataReader(series_id , 'fred')
EURUSD

            DEXUSEU
DATE
2019-01-24   1.1322
2019-01-25   1.1407
2019-01-28   1.1438
2019-01-29   1.1424
2019-01-30   1.1418
...             ...
2024-01-15      NaN
2024-01-16   1.0882
2024-01-17   1.0858
2024-01-18   1.0863
2024-01-19   1.0887

[1302 rows x 1 columns]

## **Historical price data - specific dates**

In [5]:
#DATES
start_date = datetime.datetime(2013, 12, 31)
end_date = datetime.datetime(2023, 12, 31)

EURUSD =  web.DataReader(series_id, 'fred', start_date, end_date)
EURUSD

            DEXUSEU
DATE
2013-12-31   1.3779
2014-01-01      NaN
2014-01-02   1.3670
2014-01-03   1.3606
2014-01-06   1.3636
...             ...
2023-12-25      NaN
2023-12-26   1.1035
2023-12-27   1.1114
2023-12-28   1.1073
2023-12-29   1.1062

[2609 rows x 1 columns]

## **Historical price data - multiple tickers**

In [6]:
series_ids = ['DEXUSEU', 'DEXJPUS', 'DEXUSUK', 'DEXCHUS', 'DEXCAUS', 'DEXUSAL']

exchange_rates = web.DataReader(series_ids,'fred')
exchange_rates

            DEXUSEU  DEXJPUS  DEXUSUK  DEXCHUS  DEXCAUS  DEXUSAL
DATE
2019-01-24   1.1322   109.72   1.3027   6.7835   1.3342   0.7096
2019-01-25   1.1407   109.60   1.3176   6.7448   1.3259   0.7172
2019-01-28   1.1438   109.20   1.3158   6.7437   1.3269   0.7166
2019-01-29   1.1424   109.36   1.3146   6.7304   1.3264   0.7149
2019-01-30   1.1418   109.57   1.3062   6.7115   1.3189   0.7196
...             ...      ...      ...      ...      ...      ...
2024-01-15      NaN      NaN      NaN      NaN      NaN      NaN
2024-01-16   1.0882   147.01   1.2657   7.1874   1.3472   0.6597
2024-01-17   1.0858   148.39   1.2666   7.1960   1.3523   0.6539
2024-01-18   1.0863   148.15   1.2687   7.1961   1.3503   0.6564
2024-01-19   1.0887   148.21   1.2677   7.1931   1.3467   0.6581

[1302 rows x 6 columns]

If this content is helpful and you want to make a donation please click on the button

[![paypal](https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif)](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=29CVY97MEQ9BY)